<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/start/favicon.ico>
    <title>youtube</title>
    <link href=/start/css/chunk-121ad12a.617bf5b8.css rel=prefetch>
    <link href=/start/css/chunk-57e38150.1c7f9e6d.css rel=prefetch>
    <link href=/start/js/chunk-048b85d0.50927f56.js rel=prefetch>
    <link href=/start/js/chunk-08e7ccfa.abdb19b5.js rel=prefetch>
    <link href=/start/js/chunk-09a4de60.36b39565.js rel=prefetch>
    <link href=/start/js/chunk-121ad12a.4cba30eb.js rel=prefetch>
    <link href=/start/js/chunk-329f6920.9136c13b.js rel=prefetch>
    <link href=/start/js/chunk-57e38150.73e6ee1d.js rel=prefetch>
    <link href=/start/js/chunk-5b43beaa.83562f5a.js rel=prefetch>
    <link href=/start/js/chunk-89063354.02b62318.js rel=prefetch>
    <link href=/start/js/chunk-a827f0d2.55807681.js rel=prefetch>
    <link href=/start/js/chunk-e7f6443c.d89157a7.js rel=prefetch>
    <link href=/start/css/app.62e71599.css rel=preload as=style>
    <link href=/start/css/chunk-vendors.c7e811a2.css rel=preload as=style>
    <link href=/start/js/app.8571ba8e.js rel=preload as=script>
    <link href=/start/js/chunk-vendors.d2ffb08c.js rel=preload as=script>
    <link href=/start/css/chunk-vendors.c7e811a2.css rel=stylesheet>
    <link href=/start/css/app.62e71599.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but youtube doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
<script src=/start/js/chunk-vendors.d2ffb08c.js></script>
<script src=/start/js/app.8571ba8e.js></script>
</body>
</html>